# Віртуальне середовище
venv/
myapp/venv/

# IDE та редактори
.vs/
*.vscode/

# База даних
*.db
*.sqlite3

# Конфіденційні файли
*.env

# Кеші Python
__pycache__/
*.py[cod]

# Логи
*.log

# Папка instance (може містити конфіденційне)
instance